{% extends 'wafer/index.html' %}
{% load static %}

{% block content %}
  <div class="row d-flex h-100 my-5">
    <div class="col-lg-5 align-self-center">
      <h2 id="welcome">Welcome to the land of spices!</h2>
      <p>
        The 24th Debian Conference is in Kochi, India from Sunday 10th September to Sunday 17th September 2023. DebCamp will be held from Sunday 3rd September to Saturday 9th September 2023.
      </p>
    </div>
    <div id="jumbotron-img" class="col-lg-7">
      <img class="d-block mx-auto img-fluid" src="{% static 'img/jumbotron-image.svg' %}">
    </div>
  </div>

  {{ block.super }}
{% endblock %}

{% block debconf_homepage_sponsors %}
  <div class="sponsors-block my-5">
    <h2>Sponsors</h2>
    <p>The awesome companies who are making DebConf 23 possible.</p>
    {{ block.super }}
  </div>
{% endblock %}
